body{
    font-family: helvetica;
    background-color: #00ffcc;
}
h1{
    font-family: arial;
    color: #00ffcc;
    background-color:#000000;
}
h2{
    font-family: roboto;
    background-color: #e4a4ee;
}
ul{
    font-family: Big Shoulders Stencil Text;
    background-color: #ffffff;
}
